@model CvMaker.Models.Skill
@{
    ViewData["Title"] = "updateSkill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Skill</h1>
<form method="post">
	<div class="row">
		<input type="hidden" asp-for="SkillsId" value="@Model.SkillsId" />
		<div class="form-group col-md-6 mb-3">
			<label asp-for="SkillTitle" class="control-label">Skill Title</label>
			<input asp-for="SkillTitle" class="form-control" value="@Model.SkillTitle" />

		</div>
		<div class="form-group col-md-6 mb-3">
			<label asp-for="SkilLevel" class="control-label">Skill Level</label>
			<input asp-for="SkilLevel" class="form-control" value="@Model.SkilLevel" />

		</div>
		
		
		<div class="form-group col-md-6 mb-3">
			<label asp-for="description" class="control-label">Description</label>
			<input asp-for="description" class="form-control" value="@Model.description" />
		</div>
	@* 	<div class="form-group col-md-6 mb-3">
			<label asp-for="status" class="control-label">Status</label>
			<select asp-for="status" class="form-control">
				<option value="1">Active</option>
				<option value="0">Not Active</option>
			</select>
		</div> *@
		<input type="hidden" asp-for="PersonalinfoId" value="@Model.PersonalinfoId" />


	</div>
	<div class="d-grid text-center">
		<input type="submit" value="Update" class="btn btn-primary" />
		<input type="reset"  value="Reset" class="btn btn-secondary" />
	</div>
</form>
